<div class="col-md-12">
  <div class="page-header">
    <h2>Grapes</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a class="list-group-item" href="#/cellar/wines">Wines</a>
        <a class="active list-group-item" href="#/cellar/grapes">Grapes</a>
      </div>
    </div>
    <div class="col-md-10">
    	<table class="table table-striped table-bordered">
    		<thead>
    			<th>GrapeId</th>
    			<th>Name</th>
    		</thead>
    		<tbody>
    			<tr ng-repeat="grape in grapes">
    				<td>{{grape.grapeId}}</td>
    				<td>{{grape.name}}</td>
    			</tr>		
    		</tbody>
    	</table>
    </div>
  </div>
</div>