<div class="jumbotron i2-jumbotron">
  <h1>i2037</h1>
  <p>Laboratory</p>
</div>
<div class="col-md-4">
  <h2>Recipes</h2>
  <p>Shopping lists for a variety of recipes.</p>
  <p><a href="#/recipes" class="btn btn-default">Launch »</a></p>
</div>
<div class="col-md-4">
  <h2>Cellar</h2>
  <p>Cellar stores wine ratings and tasting notes.</p>
  <p><a href="#/cellar" class="btn btn-default" role="button">Launch »</a></p>
</div>
<div class="col-md-4">
  <h2>Journal</h2>
  <p>Journal aggregates data from mulitple online sources and provides a historical timeline.</p>
  <p><a href="#/journal" class="btn btn-default">Launch »</a></p>
</div>