<div class="span12">
    <div class="page-header">
        <h2>Journal</h2>
    </div>
    <div class="row-fluid">
        <div class="span3" ng-controller="MovesTimelineCtrl">
            <div i2-timeline="entries" i2-selected="selected">
                <div ng-controller="TimelineEntryCtrl">
                    <a ng-click="toggleCollapse(entry)">{{entry.text}}</a>
                    <div collapse="isCollapsed">
                        <div class="well" i2-spin-show="showSpinner">
                            <a ng-href="{{entry.venue.canonicalUrl}}">Provided by {{entry.venue.type}}</a>
                            <address>
                                {{entry.venue.address}}<br>
                                <abr title="Telephone">T: </abr><a ng-href="tel:{{entry.venue.phone}">{{entry.venue.formattedPhone}}</a>
                            </address>
                            <a ng-href="{{entry.venue.url}}">{{entry.venue.url}}</a>          
                        </div>                        
                        <ul class="media-list">
                            <li class="media" ng-repeat="comment in entry.comments">
                                <a class="pull-right"><img class="media-object" ng-src="{{comment.url}}"></a>
                                <div class="media-body">
                                    <div class="media-heading">{{comment.heading}}</div>
                                    <div class="media"><pre>{{comment}}</pre></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-condensed" ng-controller="MovesSummaryCtrl">
                <tbody>
                    <tr ng-repeat="activity in summary.summary"><th>{{activity.activity | activity }}</th><td>{{activity.duration}}</td></tr>
                </tbody>
            </table>            
        </div>        
        <div class="span9" ng-controller="MovesMapCtrl">
            <div i2-map i2-places="places" i2-paths="paths" i2-selected="selected"></div>
        </div>
    </div>
</div>