<div class="span12">
    <table class="table">
    <tbody>
      <tr>
        <td colspan="2"><h4>Wednesday 23 October</h4></td>
      </tr>
      <tr>
        <td>13:46</td><td>London Waterloo Railway Station (WAT)</td>
      </tr>
      <tr>
        <td>13:46</td><td>Flat</td>
      </tr>
      <tr>
        <td colspan="2"><h4>Thursday 24 October</h4></td>
      </tr>
      <tr>
        <td>13:46</td>
        <td>
            <div>
              <a>25Hours Hotel</a>  
              <div>
                  <div class="well">
                    <address>Lerchenfelder Strasse 1-3, Wien, Wien, Austria</address>
                  </div>
                  <ul class="media-list">
                      <li class="media">
                          <a class="pull-right"><img class="media-object" ng-src="{{media.url}}"></a>
                          <div class="media-body">
                              <h4 class="media-heading"><h4>Heading</h4>
                              <div class="media">Here's some comments</div>
                          </div>
                      </li>
                  </ul>
              </div>
            </div>
        </td>
      </tr>
      <tr>
        <td>13:46</td><td>London Waterloo Railway Station (WAT)</td>
      </tr>                        
    </tbody>
  </table>

	<div id="graph" style="height:500px"></div>
	<div id="myGrid" style="width:500px;height:400px;"></div>
</div>