<div class="col-md-12">
  <div class="page-header">
    <h2>Wines</h2>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="list-group">
        <a class="active list-group-item" href="#/cellar/wines">Wines</a>
        <a class="list-group-item" href="#/cellar/grapes">Grapes</a>
      </div>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-4">
          <div class="btn-group">
            <button id="addWine" class="btn btn-default" ng-click="add()"><span class="glyphicon glyphicon-plus-sign"></span></button>
            <button class="btn btn-default" ng-click="smallThumbnails()"><span class="glyphicon glyphicon-th"></span></button>
            <button class="btn btn-default" ng-click="largeThumbnails()"><span class="glyphicon glyphicon-th-large"></span></button>
            <button class="btn btn-default" ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <form class="form-inline pull-right">
            <div class="form-group">
              <div class="col-md-8">
                <input type="search" class="form-control">
              </div>
              <button type="submit" class="btn btn-default col-md-4">Search</button>
            </div>       
          </form>
        </div>
      </div> 
      <hr>
      <div class="row">
        <ul class="thumbnails" ng-repeat="row in wineGrid">
          <li ng-class="wineCls" ng-repeat="wine in row">
            <div class="thumbnail media">
              <a href="#" class="pull-left">
                <img src="img/wine_thumbnail.jpg" class="media-object wine-thumbnail">
              </a>
              <div class="media-body">
                <a href="#/cellar/wines/{{wine.wineId}}"><h4 class="media-heading">{{wine.name}} ({{wine.vintage}})</h4></a>
                <p>{{wine.description}}</p>
                <p><rating value="wine.rating" max="5" readonly="true"></rating></p>
                <p>
                  <a class="btn btn-xs btn-default" 
                      ng-mouseenter="editCls='btn-primary'" 
                      ng-mouseleave="editCls=''" 
                      ng-class="editCls"
                      href="#/cellar/wines/{{wine.wineId}}">
                      <span class="glyphicon glyphicon-edit"></span> Edit
                  </a>
                  <a class="btn btn-xs btn-default" 
                     ng-mouseenter="deleteCls='btn-danger'" 
                     ng-mouseleave="deleteCls=''" 
                     ng-class="deleteCls"
                     ng-click="delete(wine)">
                     <span class="glyphicon glyphicon-trash"></span> Delete
                  </a>                        
                </p>
              </div>
            </div> 
          </li>
        </ul>    
      </div>         
    </div>
  </div>
</div>

