<!DOCTYPE html>
<html lang="en" ng-app="i2037">
<head>
	<meta charset="utf-8">
	<title>i2037</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">	
    <style>
     body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

/*      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
*/
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
      }
    </style>
   <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarCtrl">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#i2037-navbar-collapse">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">i2037</a>        
      </div>

      <div class="navbar-collapse collapse" id="i2037-navbar-collapse" ng-switch="state" ng-cloak>
        <ul class="nav navbar-nav navbar-right" ng-switch-when="LOGGED_IN">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.userName}} <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-show="user"><a tabindex="-1" href="#" ng-click="logout()">Logout</a></li>
              <li ng-show="user"><a tabindex="-1" href="#" ng-click="logout()">Change Password</a></li>
            </ul>
          </li>
        </ul>
        <div class="nav navbar-nav navbar-right" ng-switch-default>
          <button type="button" class="btn btn-primary navbar-btn" ng-click="login()">Log In</button>            
          <button type="button" class="btn btn-warning navbar-btn" ng-click="signUp()">Sign Up</button>            
        </div>            
        <ul class="nav navbar-nav">
          <li ng-class="{active: $location.path() == '/home'}"><a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
          <li ng-show="state == 'LOGGED_IN'" ng-class="{active: $location.path().indexOf(menu.path) > -1}" ng-repeat="menu in menus" ng-cloak>
            <a href="#{{menu.path}}"><span class="glyphicon glyphicon-book"></span> {{menu.name}}</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row" ng-view></div>

      <hr>

      <footer>
        <p class="text-center">&copy; Comand UK 2013</p>
      </footer>

    </div>

<!-- @if NODE_ENV == 'DEV' -->  
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/spin.js"></script> 
    <script src="js/angular.js"></script>
    <script src="js/dev/i2037-client.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV == 'PROD' -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/spin.min.js"></script> 
    <script src="js/angular.min.js"></script>
    <script src="js/<!-- @echo i2037_VERSION -->/i2037-client.min.js"></script>
<!-- @endif -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1XkZF2vEwPUZeFfadDMe76ozKhrk-mXE&sensor=false"></script>
</body>
</html>