<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>i2037</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">	
    <link href="css/fullcalendar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">            
    <link href="img/chrome-icon-196x196.png" rel="icon" sizes="196x196">    
    <link href="img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />      
    <link href="img/apple-touch-icon-60x60.png" rel="apple-touch-icon" sizes="60x60" />          
    <style>
     body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarCtrl">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#i2037-navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand i2-logo" href="#">i2037</a>        
        </div>

        <div class="navbar-collapse collapse" id="i2037-navbar-collapse" ng-switch="state">
          <ul class="nav navbar-nav navbar-right" ng-switch-when="LOGGED_IN">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-cloak><span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li ng-show="user"><a tabindex="-1" href="#" ng-click="logout()">Logout</a></li>
                <li ng-show="user"><a tabindex="-1" ng-click="changePassword()">Change Password</a></li>
              </ul>
            </li>
          </ul>
          <div class="nav navbar-nav navbar-right" ng-switch-default>
            <button type="button" class="btn btn-primary navbar-btn" ng-click="login()">Login</button>            
            <button type="button" class="btn btn-warning navbar-btn" ng-click="signUp()">Sign Up</button>            
          </div>            
          <ul class="nav navbar-nav">
            <li ng-class="{active: $location.path() == '/home'}"><a href="#/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li ng-show="state == 'LOGGED_IN'" ng-class="{active: $location.path().indexOf(menu.path) > -1}" ng-repeat="menu in menus" ng-cloak>
              <a href="#{{menu.path}}"><span class="glyphicon glyphicon-book"></span> {{menu.name}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ng-controller="ViewPortCtrl">
      <div class="row">
        <div class="col-md-12">
          <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" ng-cloak>{{alert.msg}}</alert>
        </div>
      </div>    
      <div class="row" i2-spin-show="showViewSpinner" ng-view></div>

      <hr>

      <footer>
        <p class="text-center">&copy; Comand UK 2013</p>
        <p class="text-center">Version: <span i2-app-version></span></p>
      </footer>

    </div>

    <!-- @if NODE_ENV == 'DEV' -->
    <script src="lib/system.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/bootstrap.js"></script>
    <script src="lib/deps.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/angular2.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV == 'PROD' -->
    <script src="lib/system.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/deps.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular2.min.js"></script>
<!-- @endif -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1XkZF2vEwPUZeFfadDMe76ozKhrk-mXE"></script>
    <script>
      System.config({
        packages: {'js': {defaultExtension: 'js'}}
      });
      System.import('js/i2037');
    </script>
</body>
</html>