<!DOCTYPE html>
<html lang="en" ng-app="i2037">
<head>
	<meta charset="utf-8">
	<title>i2037</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="lib/slickgrid/css/smoothness/jquery-ui-1.8.16.custom.css">
    <link rel="stylesheet" type="text/css" href="lib/slickgrid/slick.grid.css">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">	
    <style>
     body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>


    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavBarCtrl">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">i2037</a>
          <div class="nav-collapse collapse">
            <div class="dropdown pull-right navbar-text">
              <a href="#" class="dropdown-toggle navbar-link" data-toggle="dropdown">{{getAccountLabel()}}</a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li ng-show="showLogin"><a tabindex="-1" href="#" ng-click="login()">Login</a></li>
                <li ng-show="showLogout"><a tabindex="-1" href="#" ng-click="logout()">Logout</a></li>
              </ul>
            </div>
            <ul class="nav">
              <li ng-class="{active: $location.path() == '/home'}"><a href="#/home"><i class="icon-home"></i> Home</a></li>
              <li ng-class="{active: $location.path() == '/recipes'}"><a href="#/recipes"><i class="icon-book"></i> Recipes</a></li>              
              <li ng-show="showCellar" ng-class="{active: $location.path() == '/wineview'}"><a href="#/wineview"><i class="icon-book"></i> Cellar</a></li>
              <li ng-show="showCage" ng-class="{active: $location.path() == '/cage'}"><a href="#/cage"><i class="icon-book"></i> Cage</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid" ng-view></div>

      <hr>

      <footer>
        <p class="text-center">&copy; Comand UK 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="lib/jquery/jquery-1.10.2.min.js"></script>
    <script src="lib/jquery/jquery.cookie.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="lib/slickgrid/jquery.event.drag-2.2.js"></script>
    <script src="lib/slickgrid/slick.core.js"></script>
    <script src="lib/slickgrid/slick.grid.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script> 
<!-- @if NODE_ENV == 'DEV' -->  
    <script src="lib/angular/angular.js"></script>
    <script src="js/dev/i2037-client.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV == 'PROD' -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
    <script src="js/<!-- @echo i2037_VERSION -->/i2037-client.js"></script>
<!-- @endif -->
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/ui-bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1XkZF2vEwPUZeFfadDMe76ozKhrk-mXE&sensor=false"></script>
</body>
</html>