<div class="row-fluid">
  <div class="span2">
    <form class="form-search">
    <input type="text" class="input-medium search-query" ng-model="query" placeholder="Search">
    <button type="submit" class="btn">Search</button>    
  </div>
  <div class="span1">
    <div class="btn-group">
      <button id="addWine" class="btn" ng-click="add()"><i class="icon-plus-sign"></i></button>
      <button class="btn" ng-click="smallThumbnails()"><i class="icon-th"></i></button>
      <button class="btn" ng-click="largeThumbnails()"><i class="icon-th-large"></i></button>
    </div>
  </div>
</form>
</div>
<hr>
<div class="row-fluid">
  <ul class="thumbnails" ng-repeat="row in wineGrid">
    <li ng-class="wineCls" ng-repeat="wine in row">
      <div class="thumbnail media">
        <a href="#" class="pull-left">
          <img src="img/wine_thumbnail.jpg" class="media-object wine-thumbnail">
        </a>
        <div class="media-body">
          <a href="#"><h4 class="media-heading">{{wine.name}} ({{wine.vintage}})</h4></a>
          <p>{{wine.description}}</p>
          <p>
            <a class="btn btn-small" 
                ng-mouseenter="editCls='btn-primary'" 
                ng-mouseleave="editCls=''" 
                ng-class="editCls"
                ng-click="edit(wine)">
                <i class="icon-edit"></i> Edit
            </a>
            <a class="btn btn-small" 
               ng-mouseenter="deleteCls='btn-danger'" 
               ng-mouseleave="deleteCls=''" 
               ng-class="deleteCls">
               <i class="icon-trash"></i> Delete
            </a>                        
          </p>
        </div>
      </div> 
    </li>
  </ul>
</div>
