<div ng-switch on="state">
  <div ng-switch-default>
    <div class="pull-right">
      <a><img class="media-object" ng-src="{{comment.img}}"></a>
    </div>
    <div class="media-body">
      <h5 class="media-heading">{{comment.author}}</h5>
      <div ng-click="edit()">{{comment.text}}</div>
      <p><small>{{comment.lastUpdateTime | date:"d/M/yy H:mm"}}</small></p>
    </div>
  </div>
  <div ng-switch-when="edit">
    <textarea class="form-control" placeholder="Enter comment..."    
      rows="{{textRows}}" 
      ng-focus="onTextFocus()"
      ng-model="comment.text"></textarea>
    <div ng-show="showActions">
      <button class="btn btn-xs btn-primary" 
        ng-click="save()"
        ng-disabled="!canSave()">
        <span class="glyphicon glyphicon-comment glyphicon-white"></span> {{saveLabel}}</button>
      <button class="btn btn-xs btn-default" 
        ng-click="cancel()"
        ng-disabled="!canCancel">Cancel</button>        
      <button class="btn btn-xs btn-default pull-right" 
        ng-disabled="!canDelete()" 
        ng-click="delete()"
        ng-mouseenter="deleteCls='btn-danger'" 
        ng-mouseleave="deleteCls='btn-default'" 
        ng-class="deleteCls">
        <span class="glyphicon glyphicon-remove"></span> Delete</button>      
    </div>
  </div>
</div>
