<table class="table">
  <tbody>
    <tr ng-repeat-start="entry in timeline" ng-if="isNewDay($index)" ng-init="isExpanded = false">
      <td colspan="4"><h4>{{entry.date | date:"EEEE d MMMM"}}</h4></td>
    </tr>
    <tr ng-class="{info: isSelected(entry)}" ng-click="toggleSelect(entry)">
      <td>{{entry.date | date:"HH:mm"}}</td>
      <td>{{entry.duration | duration}}</td>
      <td><a ng-click="isExpanded = !isExpanded">{{entry.text || "Unknown"}}</a></td>
      <td>
        <span class="badge"></span>
      </td>
    </tr>
    <tr ng-if="isExpanded" ng-repeat-end>
      <td colspan="4">
        <div ng-controller="TimelineEntryCtrl">
            <div class="well">
                <a ng-href="{{entry.venue.canonicalUrl}}">Provided by {{entry.venue.type}}</a>
                <address>
                    {{entry.venue.address}}<br>
                    <abr title="Telephone">T: </abr><a ng-href="tel:{{entry.venue.phone}">{{entry.venue.formattedPhone}}</a>
                </address>
                <a ng-href="{{entry.venue.url}}">{{entry.venue.url | trim:30 }}</a>
            </div>
            <div i2-comment="newComment" i2-save="saveComment(comment, entry)" i2-maxlength="255"></div>
            <hr>    
            <ul class="media-list">
                <li i2-comment="comment" ng-repeat="comment in entry.comments"
                    i2-save="saveComment(comment, entry)" 
                    i2-delete="deleteComment(comment, entry)"
                    i2-maxlength="255"></li>
            </ul>
        </div>        
      </td>
    </tr>
  </tbody>
</table>