/* app css stylesheet */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* angular-bootstrap */
.nav, .pagination, .carousel a { cursor: pointer; }

.navbar-inverse .i2-logo {
  overflow: hidden;
  padding-left: 38px;
  background: url(../img/i2037-logo.png);
  background-repeat: no-repeat;
  background-position: 8px;
  color: #11a7ed;
}

.i2-jumbotron {
  background-color: black;
  background-image: url(../img/circuit-board.jpg);
  background-repeat: no-repeat;
  background-position: right;
  color: #999;
}

.nav-bar

.i2-wine-thumbnail {
  height: 10.3em;
  width: 3em;
  padding: 0.5em;
}

.i2-map {
  width: 100%;
  height: 600px;
}

.i2-map img {
  max-width: none;
}

.i2-comment {
  padding-bottom: 0.4em;
}

.i2-pie {
  height: 2em;
  width: 2em;
}

.i2-activity-pie {
  height: 10em;
  height: 10em;
}
