/* app css stylesheet */

.i2-wine-thumbnail {
  height: 10.3em;
  width: 3em;
  padding: 0.5em;
}

.i2-map {
  width: 100%;
  height: 600px;
}

.i2-map img {
  max-width: none;
}

.i2-comment {
  padding-bottom: 0.4em;
}