/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 10px;
	text-align: center;
}

/** RAP */

#page {
}

#header {
	background-color: #f1f1f1;
	padding: 5px;
}

#content {
	padding: 10px 0px 10px 0px;
	width: 950px;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;		
}

#footer {
	background-color: #ffffff;
	text-align: center;
	border-top: 2px solid #666666;
}

#copyright {
	margin: 5px;
}