<div ng-switch on="state">
  <div ng-switch-default>
    <div class="pull-right">
      <a><img class="media-object" ng-src="{{comment.img}}"></a>
    </div>
    <div class="media-body">
      <h5 class="media-heading">{{comment.author}}</h5>
      <div ng-click="edit()">{{comment.text}}</div>
      <p><small>{{comment.lastUpdateTime | date:"d/M/yy H:mm"}}</small></p>
    </div>
  </div>
  <div ng-switch-when="edit">
    <textarea style="width:95%" placeholder="Enter comment..."    
      rows="{{textRows}}" 
      ng-focus="onTextFocus()"
      ng-model="commentCopy.text"></textarea>
    <div ng-show="showActions">
      <button class="btn btn-mini btn-primary" 
        ng-click="save()"
        ng-disabled="!commentCopy.canSave()">
        <i class="icon-comment icon-white"></i> {{saveLabel}}</button>
      <button class="btn btn-mini" 
        ng-click="cancel()"
        ng-disabled="!canCancel">Cancel</button>        
      <button class="btn btn-mini pull-right" 
        ng-disabled="!commentCopy.canDelete()" 
        ng-click="delete()"
        ng-mouseenter="deleteCls='btn-danger'" 
        ng-mouseleave="deleteCls=''" 
        ng-class="deleteCls">
        <i class="icon-remove"></i> Delete</button>      
    </div>
  </div>
</div>
