  <div class="x-quote-panel">
    <div class="x-title-bar">
      <button type="button" class="btn btn-default btn-xs" ng-click="toggleLock()">
        <span class="glyphicon glyphicon-lock"></span>
      </button> {{quote.ccyPair}}
    </div>
    <div class="x-row">
      <i2-wing class="x-wing x-wing-left">
        <table>
          <tr ng-repeat="rung in quote.sell.rungs">
            <td i2-depth-chart data="rung.amts" max="quote.sell.maxAmt" align="right"></td>
            <td class="x-amt">{{rung.totalAmt}}</td>
            <td>{{rung.px.getPips()}}</td>
          </tr>            
        </table>            
      </i2-wing>
      <div class="x-center-col">
        <i2-vwap-tiles quote="quote"></i2-vwap-tiles>
        <!-- quick ticket goes here -->
      </div>
      <i2-wing class="x-wing x-wing-right">
        <table>
          <tr ng-repeat="rung in quote.buy.rungs">
            <td>{{rung.px.getPips()}}</td>
            <td class="x-amt">{{rung.totalAmt}}</td>
            <td i2-depth-chart data="rung.amts" max="quote.buy.maxAmt" align="left"></td>
          </tr>            
        </table>      
      </i2-wing>
    </div>
  </div>
